body {
  background-color: rgba(18, 18, 20, 1);
  box-sizing: border-box;
  color: white;
}
button {
  cursor: pointer;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 2rem;

  background: #212529;
  border-radius: 4px;

  color: rgba(248, 249, 250, 1);
  font-size: 0.6rem;
}
.container {
  display: flex;
  flex-direction: column;

  width: 95vw;
  height: 95vh;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12rem;
  padding: 0.5rem 0rem;
}
header > h1 {
  color: rgba(255, 87, 127, 1);
  margin: 0px;
}
.divUser {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

  height: 5rem;

  border-top: 2px solid rgba(33, 37, 41, 1);
  border-bottom: 2px solid rgba(33, 37, 41, 1);
}
.divUser h3 {
  font-weight: 700;
  font-size: 1.2rem;

  color: #f8f9fa;
}
.divUser span {
  font-weight: 400;
  font-size: 0.8rem;

  color: #868e96;
}
.divMessage {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.divMessage h4 {
  font-size: 1rem;
}
.divMessage p {
  font-weight: 400;
  font-size: 1rem;

  color: rgb(207, 107, 107);
}
.contanerTechs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 57%;
  height: 100%;
  margin-left: 17rem;
}
.headerTechs {
  display: flex;
  justify-content: space-between;

  padding: 0px 2rem;
  width: 85%;

  font-size: 18px;
}
.headerTechs > button {
  border: none;
  width: 2rem;
  font-size: 18px;
}
.divUl {
  display: flex;
  justify-content: center;

  width: 85%;
  height: 80%;

  background: #212529;
  border-radius: 4px;
}
.divUl > ul {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  padding-inline-start: 0px;
}
.divUl > ul > li {
  display: flex;
  width: 30rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  height: 2.5rem;
  background: #121214;
  border-radius: 4.06066px;
}
.divTechs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  width: 80%;
}
.divTechs > p {
  color: rgba(134, 142, 150, 1);
}
.divUl > ul > li > button {
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 15px;
  height: 15px;

  border: white 1px solid;
  border-radius: 50%;
  background-color: inherit;
}

@media screen and (max-width: 900px) {
  .contanerTechs {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    width: 90%;
    margin-left: 1.5rem;
  }
  .divUl > ul > li {
    width: 28rem;
  }
}
